body {
    background-color: #1f2029; 
    font-size: 1.2rem; 
    font-family: 'Press Start 2P', sans-serif;
    color: #dfdfdf; 
  }
  
  h2 {
    font-weight: bold; 
    text-align: center;
    color: #fff; 
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3); 
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #3ca9e2; 
    text-decoration: none; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
  }
  
  a:hover {
    color: #f0ff00; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .login-form-wrap {
    background-color: #2c2e39; 
    width: 60%;
    max-width: 450px;
    margin: 50px auto;
    text-align: center;
    padding: 30px 20px 40px 20px;
    border-radius: 8px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .login-form {
    padding: 0;
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 40px; 
    line-height: 40px;
    border-radius: 4px;
    border: 2px solid #ccc; 
    background-color: #24262b; 
    color: #fff; 
    padding: 0 10px; 
  }
  
  input[type="password"],
  input[type="email"] {
    margin: 15px 0; 
  }
  
  .btn-login {
    border: none;
    text-align: center;
    display: flex;
    background-color: #3ca9e2; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 15px 30px; 
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .btn-login:hover {
    background-color: pink; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }